<section class="home">

    <img src="https://www.ereceptionist.co.uk/images/default-source/blogs/young-professionals-business-team.jpg">

 <div class="homecontent">


    </div>

    </section>
    <body id="page-top">


        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">

            <div class="container d-flex align-items-center flex-column">
                <h1 class="masthead-heading text-uppercase mb-0">Cv Builder</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">The Best way to build your curriculum is here</p>
            </div>
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">About</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">

        <!-- About Section-->
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ms-auto"><p class="lead">CvGenerator.com is a free platform that helps you to build your professional curriculum .
                        <br> You can build your own CV save it, download it and update it whatever you want.
                    </p>

                    </div>
                </div>
                <!-- About Section Button-->
                <div class="text-center mt-4">
                    <section class="home">
                        <img src="https://economictimes.indiatimes.com/thumb/msid-85034588,width-1200,height-900,resizemode-4,imgsize-602431/job-interview_thinkstock.jpg?from=mdr">
                        <a class="btn  btn-lg btn-primary" href="" routerLink="/builder">
                            <i class="fas fa-download me-2"></i>
                            Build your CV !
                        </a>
                    </section>
                        <div class="homecontent">



                </div>
            </div>



