<h2 style="text-align:center">Our Team</h2>
<div class="row">
	<div class="column">
		<div class="card">
			<div class="container">
				<h2>Amine</h2>

				<p>Amine@project2.com</p>
				<p><button class="button">Contact</button></p>
			</div>
		</div>
	</div>

	<div class="column">
		<div class="card">

			<div class="container">
				<h2>Maher</h2>


				<p>Maher@project2.com</p>
				<p><button class="button">Contact</button></p>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="card">
			<div class="container">
				<h2>Ameni</h2>

				<p>Ameni@project2.com</p>
				<p><button class="button">Contact</button></p>
			</div>
		</div>
	</div>

</div>
<div class="column1">
	<div class="card">

		<div class="container">
			<h2>Mohamed</h2>

			<p>Mohamed@project2.com</p>
			<p><button class="button" id="solomohamed">Contact</button></p>
		</div>
	</div>
</div>

<form action="mailto:contact@project2.com" method="POST" enctype="text/plain">
	<label for="name">Name</label>
	<input type="text" id="name" name="Name" class="full-width" /><br />
	<label for="email">Email Address</label>
	<input type="email" id="email" name="Email" class="full-width" /><br />
	<label for="message">Message</label>
	<textarea name="message" id="message" cols="30" rows="10" class="full-width"></textarea><br />
	<input type="submit" value="Send" class="button" />
</form>

<div class="about-section">
	<h1>About Us Page</h1>
	<p>For any enquiries or feed-back , do not hesitate to contact us</p>
	<p>It's your reviews what make us better and help us improve</p>
</div>